body {

    font-family: 'Ubuntu', sans-serif;

    

    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #6C757D;
}

#submit {
    margin: 30px 0;
}

div#main {
    -o-box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.5) ;
    background-color: white;

    border-left: 10px solid rgba(0, 0, 0, 0.8);
    
    margin-top: 50px;
    padding-top: 30px;
    text-align:center;
    


}

body > div {

    margin-top: 25px;
}

div.alert {
    color: #000;

    -o-box-shadow:0px 1px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 1px 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 1px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow:0px 1px 3px 3px rgba(0, 0, 0, 0.3) ;

    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}